CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/bin/*
/lib/*
/build/*
/__build*
/.vscode/*
*.cache
/tools/designer/BehaviacDesigner/obj/Debug
/tools/designer/BehaviacDesignerBase/obj/Debug
/tools/designer/External/DockPanel/WinFormsUI/obj/Debug
/tools/designer/Plugins/PluginBehaviac/obj/Debug
/tools/designer/out

/tools/designer/.vs
